ipykernel
# Huggingface libraries
transformers
datasets
accelerate
# pytorchy stuff
torch
numpy
matplotlib
pandas
einops
# Sentencepiece for llama models
sentencepiece
# For llama models
protobuf
# bitsandbytes, for quantised inference
bitsandbytes
# baukit
git+https://github.com/davidbau/baukit@main#egg=baukit